//Mettre ici la disposition du menu et de l'arrière-plan du .header-page


.header-page{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95)
}


.nav-principale ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 15px 0;
  margin: 0;
}

.nav-principale ul li a{
  font-weight: 500;
}


.compagnie{
  order: -1;
 }




//Mettre ici le media queries pour le changement du menu

@media screen and (min-width: 768px) {
.nav-principale ul{
    flex-direction: initial;
    justify-content: space-around;

  }
  .compagnie{
    order: 0;
  }

}

@media screen and (min-width: 1440px) {
.nav-principale ul{
    flex-direction: initial;
    justify-content: space-around;

  }

  .compagnie{
    order: 0;
  }

}