
section.hero h2{
  background-image: url('../../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 570px;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  color: $color-text-light;
  font-weight: $fw-bold;
  text-shadow: 1px 1px #808080;


}




@media screen and (min-width: 768px) {
section.hero h2{
  font-size: $fz-h2-large;
}
}


@media screen and (min-width: 1440px) {
  section.hero h2{
    font-size: $fz-h2-large;
  }
}